# Ignore everything in .emacs.d except customizations, snippets, elfiles, and init
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/customizations/
!.emacs.d/snippets/
!.emacs.d/elfiles/

# Ignore everything in .lein except profiles
.lein/*
!.lein/profiles.clj